.messenger{
    height: calc(100vh - 90px);
    display: flex;
}
.chatMenu{
    flex: 5;
}
.chatBox{
    flex: 7;
}


.chatMenuWrapper, .chatBoxWrapper {
    padding: 10px;
    height: 100%;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.chatBoxTop{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
}
.chatBoxBottom{
    display: flex;
    align-items: center;
    margin-top: 0.7rem;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 0.56rem;
}