.message{
    display: flex;
    flex-direction: column;
}


.messageTop{
    display: flex;
    margin-top: 1.9rem;
}

.messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText{
    border-radius: 10px;
    background-color: lightgray;
    padding: 10px 20px;
    font-size: 18px;
}


.messageBottom{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.message.own{
   align-items: flex-end;
}
.message.own .messageText{
    background-color: #06d83b;
    color:white;
}
